<body>
    <p class="txt">Cual es tu mascota<br> Selecionalo</p>
    <div class="images">
        <img src="dog.png" class="dog">
        <img src="cat.png" class="cat">
        <img src="fish.png" class="fish">
    </div>
    <div class="images2">
        <img src="plus.png" class="plus">
        <img src="hamster.png" class="hamster">
    </div>
    <div class="buttons">
        <img src="back.png" class="back" routerLink="/login"> <img src="home.png" class="home"> <img src="continue.png" class="continue">
    </div>
</body>